<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>微信</title>
</head>
<body>
    用户<input type="text" id="account"><br>
    密码<input type="password" id="password">
    <button id="login">登录</button>
    <button id="register">注册</button>
    <button id="logout">注销</button>
    <br><br><br>

    nickname<input type="text" id="nickname"><br>
    age<input type="text" id="age"><br>
    address<input type="text" id="address"><br>
    mailbox<input type="text" id="mailbox"><br>
    introduction<input type="text" id="introduction">
    <button id="getInf">获取</button>
    <button id="postInf">提交</button><br><br>

    <textarea name="message" id="message" cols="30" rows="10"></textarea><br>
    <input type="text" id="receiver"><br>
    <button id="sendInf">send</button>
    <button id="newInf">news</button>
    <button id="history">history</button><br><br>


    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/weixin.js"></script>
</body>
</html>



